/*
WEB BROWSER has default styles for HTML, ex: padding, margins, color,
*/

/*
REMOVE all the default styles we will define our own
*/

*{
    padding: 0;
    margin: 0;
}

header {
    background-color: beige;
    border: 1px, solid;
    height: 20vh;/*viewport height*/
    background-image: linear-gradient(brown, orange, coral);
}

main {
    background-image: url('../lab2/Images/sand.jpg');
    background-size: 100% 100%;
        border: 1px, solid;
    height: auto;/*viewport height*/
}

main section {
    text-align: center;
    border: solid 5px brown;
}

main section img, h1, p, button {
    padding: 10px;
    margin: 5px;
}

main section img {
    border-radius: 50%;
}

.gradient-bg {
    background-color: rgba(202, 169, 130, 0.6);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

footer {
    background-color: coral;
        border: 1px, solid;
    height: 10vh;/*viewport height*/
}

footer p {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/*define code selectors*/
.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}